.navbar-primal {
  background-color: #60a4c1;
  color: #fff;
}

.navbar-primal {
  font-size: 12px;
  height: 35px;
  padding: 0.5rem 0;
}

.navbar-continer {
  margin-left: 9.06rem;
  margin-right: 9.06rem;
  max-width: 1560px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  font-weight: bold;
}

.navbar-expand-lg .navbar-nav .nav-item .nav-link {
  /*padding-left: 7.2rem;
  padding-right: 0;*/
}

.carosello {
  background-image: url();
  border-bottom: 5px #d06e59 solid;
  margin-bottom: 75px;
}
