.service__title {
  display: block;
}

.service__title::after {
  background: linear-gradient(to left, #60a4c1 0%,#60a4c1 50%,#60a4c1 50%,#d06e59 50%,#d06e59 100%);
  content: '';
  display: block;
  height: 5px;
  left: 50%;
  margin-left: -38px;
  margin-top: 16px;
  position: absolute;
  width: 76px;
}

.service__info {
  border: 1px solid #626262;
  border-top: 5px solid #60a4c1;
}

.info__span {
  background-color: #60a4c1;
  content: '';
  display: block;
  height: 15px;
  left: 49.5%;
  position: absolute;
  width: 4px;
}

.info__image {
  margin-top: 20px;
}

.info__title {
  font-size: 1.5rem;
  margin-bottom: 16px;
  margin-top: 8px;
}

.about {

}

.about__title {
  font-weight: 700;
  font-size: 1.25rem;
}

.parthnership__text {
  font-size: 1.75rem;
  font-weight: 500;
}

.parthnership__text::after {
  background: #60a4c1;
  content: '';
  display: block;
  height: 5px;
  left: 50%;
  margin-left: -38px;
  margin-top: 16px;
  position: absolute;
  width: 76px;
}

.parthnership__image {
  height: 89px;
  margin: auto;
}

.parthnership__image1{
    height: auto;
    width: auto;
    max-width: 20%;
}

.parthnership__image2{
    height: auto;
    width: auto;
    max-width: 25%;
    max-height: 70%;
}

.parthnership__image3{
    height: auto;
    width: auto;
    max-width: 25%;
    max-height: 95%;
}

.parthnership__image4{
    height: auto;
    width: auto;
    max-width: 30%;
}

.contact {
  background-color: #eeeeee;
}

.contact__form {
  background-color: #eeeeee;
  border-radius: 0;
}


.contact__form:focus {
    background-color: #eeeeee;
}

.contact__text {
  font-weight: 700;
  font-size: 1.125rem;
}

.contact__textarea {
  overflow: hidden;
}

#map {
  height: 400px;
  width: 100%;
}
