.navbar-primal {
  background-color: #60a4c1;
  color: #fff;
}

.navbar-primal {
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 12px;
  height: 35px;
  justify-content: flex-start;
  padding: .5rem 0;
  width: 100%;
}

.navbar-primal > span:first-child {
  margin-left: 70%;
}
.navbar-primal > span {
  margin-left: 5%;
}

.navbar-continer {
  margin-left: 9.06rem;
  margin-right: 9.06rem;
  max-width: 1560px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  font-weight: bold;
}

.navbar-expand-lg .navbar-nav .nav-item .nav-link {
  padding-left: 7.2rem;
  padding-right: 0;
}
